body {
    background-image: url('bgi2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.heading {
    margin: 0 auto;
    padding: 20px 0px 30px 0px;
    font-size: 4vw;
    font-weight: bold;
    color: white;
}

.sub-heading {
    color: white;
    font-size: 2vw;
    padding-bottom: 60px;
    background-color: transparent;
}

.form-content {
    padding: 60px 30% 40px 30%;
    border: none;
    background-color: transparent;
}