<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Encryption</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/encrypt.css" type="text/css" rel="stylesheet">
</head>

<body class="text-center">
    <div class="form-content">
        <form action="/encrypt" method="post" enctype="multipart/form-data">
            <div class="heading">ENCRYPTION</div>
            <div class="sub-heading"><h3>Enter the secret message and choose an image in PNG format to encrypt it</h3></div>
            <textarea name="data" class="form-control" placeholder="Enter the secret message you want to encrypt"
                required autofocus></textarea>
            <input type="file" name="file" class="form-control" accept="image/png"></input>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="background: red;">Click here to
                download the encrypted image</button>
            <a class="btn btn-lg btn-primary btn-block" href='/'>Return to the
                home page</a>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</body>

</html>